[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
zmsai = {editable = true, path = "."}

[packages]
numpy = "*"
sklearn = "*"

[requires]
python_version = "3.8"
